.wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.menuWrapper {
  width: 250px;
  height: 100vh;
  overflow-y: auto;
}

.contentWrapper {
  flex: 1;
  padding: 0.5rem;
  overflow-y: auto;
}
